@import url("https://fonts.cdnfonts.com/css/google-sans");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Product Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  background: #f7fafc;
  color: #5f6368;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 1rem;
  padding-left: 1.5rem;
  height: 70px;
}
.nav .navLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 285px;
  height: 100%;
}
.nav .navLeft .navLeftLogo {
  width: 40px;
  height: 40px;
}
.nav .navLeft .navLeftLabel {
  font-size: 1.2rem;
}
.nav .navRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 285px);
}
.nav .navRight .navCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f3f4;
  width: 65%;
  height: 45px;
  border-radius: 8px;
}
.nav .navRight .navCenter .navCenterSearchBtn,
.nav .navRight .navCenter .navCenterCloseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #5f6368;
  border: none;
  border-radius: 999px;
  padding: 8px;
  margin: 8px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav .navRight .navCenter .navCenterSearchBtn:hover,
.nav .navRight .navCenter .navCenterCloseBtn:hover {
  background: rgba(126, 126, 126, 0.1098039216);
}
.nav .navRight .navCenter .navCenterCloseBtn {
  display: none;
}
.nav .navRight .navCenter .navCenterInput {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}
.nav .navRight .navCompteSettings {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav .navRight .navCompteSettings .settings {
  margin-right: 20px;
}

.homeContactEmptyBtn {
  display: flex;
  gap: 5px;
}
.homeContactEmptyBtn button[type=button] {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #0b57d0;
  font-size: 0.875rem;
  font-family: "Product Sans", Roboto, Arial, sans-serif;
  line-height: inherit;
  letter-spacing: 0;
  background: transparent;
  border-radius: 100px;
  padding: 1px 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContactEmptyBtn button[type=button]:hover {
  background: rgba(11, 87, 208, 0.0941176471);
}

.homeContainer {
  display: flex;
  padding-top: 10px;
  gap: 12px;
}
.homeContainer .homeContactLeft {
  margin: 8px 1rem;
  width: 285px;
}
.homeContainer .homeContactLeft .homeCreateContactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: #001d35;
  gap: 12px;
  width: 160px;
  height: 50px;
  border-radius: 1rem;
  background: #c2e7ff;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 12px;
  border-radius: 999px;
  background: transparent;
  padding: 10px 1rem;
  cursor: pointer;
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem:hover {
  background: rgba(194, 231, 255, 0.3176470588);
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem .personOutlinedHomeContact {
  display: none;
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem .homeContactTotal {
  position: absolute;
  font-weight: normal;
  right: 1rem;
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem:first-child {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: #001d35;
  gap: 12px;
  border-radius: 999px;
  background: #c2e7ff;
  padding: 10px 1rem;
}
.homeContainer .homeContactLeft .homeContactType .homeContactTypeItem:first-child:hover {
  background: #b0dcfa;
}
.homeContainer .homeContactLeft .homeContactOthers .homeContactOthersTitle {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
}
.homeContainer .homeContactLeft .homeContactOthers .homeContactOthersList .homeContactOthersItem {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 12px;
  border-radius: 999px;
  background: transparent;
  padding: 10px 1rem;
  cursor: pointer;
}
.homeContainer .homeContactLeft .homeContactOthers .homeContactOthersList .homeContactOthersItem:hover {
  background: rgba(194, 231, 255, 0.3176470588);
}
.homeContainer .homeContactLeft .homeContactLibelle .homeContactLibelleTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeContainer .homeContactLeft .homeContactLibelle .homeContactLibelleTitleBlock .homeContactLibelleTitle {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
}
.homeContainer .homeContactLeft .homeContactLibelle .homeContactLibelleTitleBlock .homeContactAddLibelle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContainer .homeContactLeft .homeContactLibelle .homeContactLibelleTitleBlock .homeContactAddLibelle:hover {
  background: rgba(49, 54, 58, 0.1098039216);
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleIconeBlock {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 12px;
  border-radius: 999px;
  padding: 0 1rem;
  width: 100%;
  height: 45px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleIconeBlock:hover {
  background: rgba(194, 231, 255, 0.3176470588);
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleIconeBlock:hover ~ .homeContactLibelleUpdate {
  opacity: 1;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleUpdate {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 0 999px 999px 0;
  background: transparent;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleUpdate:hover {
  opacity: 1;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleUpdate .homeContactLibelleUpdateBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 999px;
  width: 40px;
  height: 40px;
}
.homeContainer .homeContactLeft .homeContactLibelleList .homeContactLibelleListItem .homeContactLibelleUpdate .homeContactLibelleUpdateBlock:hover {
  background: rgba(49, 54, 58, 0.1098039216);
}
.homeContainer .homeContactRight {
  width: calc(100% - 285px);
  height: calc(100vh - 70px);
}
.homeContainer .homeContactRight .homeContactBlock {
  background: #fff;
  border-radius: 24px;
  margin-right: 1rem;
  padding: 2rem;
  height: 97%;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactTitle .homeContactTitleLabel {
  font-size: 1.5rem;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactTitle .homeContactTotal {
  font-size: 0.9rem;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactEmpty .homeContactEmptyTitle {
  font-size: 1rem;
  color: #1f1f1f;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded {
  width: 100%;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .homeContactAddedTopBarItem:first-child {
  width: calc(36% - 160px);
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .homeContactAddedTopBarItem:nth-child(2),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .homeContactAddedTopBarItem:nth-child(3),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .homeContactAddedTopBarItem:nth-child(4),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .homeContactAddedTopBarItem:nth-child(5) {
  width: 16%;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .blockIcons {
  display: flex;
  align-items: center;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .blockIcons i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactAdded .homeContactAddedTopBar .blockIcons i:hover {
  background: rgba(49, 54, 58, 0.1098039216);
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated {
  display: flex;
  align-items: center;
  display: flex;
  gap: 8px;
  height: 50px;
  margin: 0 4px;
  width: 100%;
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated .homeContactCreatedItem:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
  width: calc(36% - 160px);
}
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated .homeContactCreatedItem:nth-child(2),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated .homeContactCreatedItem:nth-child(3),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated .homeContactCreatedItem:nth-child(4),
.homeContainer .homeContactRight .homeContactBlock .homeContactBlockCenter .homeContactCreated .homeContactCreatedItem:nth-child(5) {
  width: 16%;
}
.homeContainer .homeContactRight .homeCreateContact {
  display: none;
}
.homeContainer .homeContactRight .homeCreateContact {
  display: none;
}

.homeContactEmptyImgBlock {
  width: 220px;
  height: 220px;
}
.homeContactEmptyImgBlock .homeContactEmptyImg {
  width: 100%;
}/*# sourceMappingURL=style.css.map */