.home {
  display: flex;
  height: calc(100vh - 70px);
  padding: 8px;

  .homeContactLeft {
    position: relative;
    min-width: 268px;
    height: 100%;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    .homeCreateContactBtnBlock {
      z-index: 1;
      position: sticky;
      padding-bottom: 2px;
      top: 0;
      width: 100%;
      background: #f7fafc;
    }
    .homeCreateContactBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      color: #001d35;
      gap: 12px;
      width: 160px;
      height: 50px;
      border-radius: 1rem;
      background: #c2e7ff;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .modalCreateContact {
      z-index: 1;
      position: absolute;
      top: 3.2rem;
      left: 5px;
      display: none;
      flex-direction: column;
      justify-content: center;
      background: #ecf1f9;
      border-radius: 5px;
      box-shadow: 0 1px 5px 0;
      width: 12.5rem;
      height: 6rem;

      .modalCreateContactItem {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 10px;
        height: 45px;
        font-size: 0.9rem;
        color: #000000c2;
        cursor: pointer;

        &:hover {
          background: #1f1f1f14;
        }
      }
    }

    .showModal {
      display: flex;
    }

    .closeModal {
      display: none;
    }

    .homeContactType {
      .homeContactTypeItem {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        gap: 12px;
        border-radius: 999px;
        background: transparent;
        padding: 10px 1rem;
        margin-right: 1.5rem;
        cursor: pointer;

        &:hover {
          background: #c2e7ff51;
        }
      }

      .personOutlinedHomeContact {
        display: none;
      }

      .homeContactTotal {
        position: absolute;
        font-weight: normal;
        right: 1rem;
      }

      .homeContactTypeItem:first-child {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 600;
        color: #001d35;
        gap: 12px;
        border-radius: 999px;
        background: #c2e7ff;
        padding: 10px 1rem;

        &:hover {
          background: #b0dcfa;
        }
      }
    }

    .homeContactOthers {
      .homeContactOthersTitle {
        display: block;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.8rem 1rem;
      }

      .homeContactOthersList {
        .homeContactOthersItem {
          position: relative;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          gap: 12px;
          border-radius: 999px;
          background: transparent;
          padding: 10px 1rem;
          margin-right: 1.5rem;
          cursor: pointer;

          &:hover {
            background: #c2e7ff51;
          }
        }
      }
    }

    .homeContactLibelle {
      .homeContactLibelleTitleBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1.5rem;

        .homeContactLibelleTitle {
          display: block;
          font-size: 0.9rem;
          font-weight: 600;
          padding: 0.8rem 1rem;
        }

        .homeContactAddLibelle {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 999px;
          background: transparent;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background: #31363a1c;
          }
        }
      }
    }

    .homeContactLibelleList {
      .homeContactLibelleListItem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1.5rem;

        .homeContactLibelleIconeBlock {
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          gap: 12px;
          border-radius: 999px;
          padding: 0 1rem;
          width: 100%;
          height: 45px;
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background: #c2e7ff51;
          }

          &:hover ~ .homeContactLibelleUpdate {
            opacity: 1;
          }
        }

        .homeContactLibelleUpdate {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          height: 100%;
          border-radius: 999px;
          background: transparent;
          opacity: 0;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            opacity: 1;
          }

          .homeContactLibelleUpdateBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border-radius: 999px;
            width: 40px;
            height: 40px;

            &:hover {
              background: #31363a1c;
            }
          }
        }
      }
    }
  }

  .homeContactRightEmpty {
    display: flex;
    width: 100%;
    padding-left: 10px;

    .homeContactContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 24px;
      width: 100%;
      height: 100%;
      padding: 1.5rem;

      .homeContactTitle {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        display: flex;
        align-items: center;
        gap: 8px;

        .homeContactTitleLabel {
          font-size: 1.5rem;
        }

        .homeContactTotal {
          font-size: 0.9rem;
        }
      }
    }

    .homeContactEmpty {
      display: flex;
      flex-direction: column;
      align-items: center;

      .homeContactEmptyTitle {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: #1f1f1f;
      }

      .homeContactEmptyImgBlock {
        width: 200px;
        height: 200px;

        .homeContactEmptyImg {
          width: 100%;
        }
      }
    }
  }

  .closeModal {
    display: none;
  }

  .homeContactRightAdded {
    display: flex;
    width: 100%;
    padding-left: 10px;

    .homeContactContainer {
      background: #fff;
      border-radius: 24px;
      width: 100%;
      height: 100%;
      padding: 1.5rem;

      .homeContactTitle {
        display: flex;
        align-items: center;
        gap: 8px;

        .homeContactTitleLabel {
          font-size: 1.5rem;
        }

        .homeContactTotal {
          font-size: 0.9rem;
        }
      }

      .homeContactList {
        .homeContactAddedTopBar {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          height: 50px;

          .homeContactAddedTopBarItem {
            font-size: 0.875rem;
            font-weight: 600;
          }
          .homeContactAddedTopBarItem:nth-child(1) {
            width: calc(36% - 160px);
          }
          .homeContactAddedTopBarItem:nth-child(2),
          .homeContactAddedTopBarItem:nth-child(3),
          .homeContactAddedTopBarItem:nth-child(4),
          .homeContactAddedTopBarItem:nth-child(5) {
            width: 16%;
          }

          .homeContactAddedTopBarItem:nth-child(5) {
            display: none;
          }

          .homeContactAddedTopBarItem:nth-child(6) {
            display: flex;
            justify-content: end;
            width: 120px;
          }

          .homeContactAddedTopBarItemBlockIcons {
            display: none;
            align-items: center;

            i {
              padding: 10px;
            }
          }
        }

        .homeContactAddedLabel {
          font-size: 0.8rem;
        }

        .homeAllContact {
          position: relative;

          .drag_indicator {
            align-items: center;
            color: #c4c7c5;
            transition: all 0.3s ease;

            i {
              // display: none;
              opacity: 0;

              &:hover {
                color: #5f6368;
              }
            }
          }

          .homeContactCreated {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0 4px;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background: #d3e2fd;
            }
            &:hover .drag_indicator i {
              opacity: 1;
            }
            &:hover .homeContactAddedTopBarItemBlockIcons {
              opacity: 1;
            }
            &:hover .homeContactCreatedItem .accountImg {
              opacity: 0;
            }
            &:hover .homeContactCreatedItem .checkboxBlock {
              opacity: 1;
            }
            .homeContactCreatedItem {
              position: relative;
              display: flex;
              font-size: 0.875rem;

              .checkboxBlock {
                z-index: 1;
                position: absolute;
                opacity: 0;
                background: transparent;
                height: 35px;
                width: 35px;
                border-radius: 999px;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                  background: #31363a1c;
                }

                .checkbox {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 18px;
                  height: 18px;
                  cursor: pointer;
                }
              }
              .accountImg {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                color: #fff;
                background: #0189d2;
                width: 35px;
                height: 35px;
                border-radius: 999px;
                transition: all 0.3s ease;
              }
            }

            .homeContactCreatedItem {
            }
            .homeContactCreatedItem:nth-child(1) {
              width: 5px;
            }
            .homeContactCreatedItem:nth-child(2) {
              width: 36px;
            }
            .homeContactCreatedItem:nth-child(3) {
              width: calc(36% - 221px);
            }
            .homeContactCreatedItem:nth-child(4),
            .homeContactCreatedItem:nth-child(5),
            .homeContactCreatedItem:nth-child(6),
            .homeContactCreatedItem:nth-child(7) {
              display: block;
              width: 16%;
            }
            .homeContactCreatedItem:nth-child(8) {
              display: flex;
              justify-content: end;
              width: 120px;
            }

            .homeContactCreatedItem:nth-child(7) {
              display: none;
            }

            .homeContactCreatedItem:nth-child(4),
            .homeContactCreatedItem:nth-child(6) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .homeContactAddedTopBarItemBlockIcons {
              // display: none;
              opacity: 0;
              align-items: center;

              i {
                padding: 10px;
              }
            }
          }

          .homeContactChecked {
            background: #d3e2fd;

            .drag_indicator i {
              opacity: 1;
            }
            .homeContactAddedTopBarItemBlockIcons {
              opacity: 1;
            }
            .homeContactCreatedItem .accountImg {
              opacity: 0;
            }
            .homeContactCreatedItem .checkboxBlock {
              opacity: 1;
            }
          }
        }
      }
    }

    .homeContactEmpty {
      display: flex;
      flex-direction: column;
      align-items: center;

      .homeContactEmptyTitle {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: #1f1f1f;
      }

      .homeContactEmptyImgBlock {
        width: 200px;
        height: 200px;

        .homeContactEmptyImg {
          width: 100%;
        }
      }
    }
  }

  .closeModal {
    display: none;
  }

  .homeCreateContact {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 10px;

    .homeCreateContactContainer {
      position: relative;
      background: #fff;
      border-radius: 24px;
      width: 100%;
      height: 100%;
      padding-bottom: 0;
      overflow: auto;

      .homeCreateContactTopBarBlock {
        z-index: 1;
        position: sticky;
        top: 0;
        padding: 2.5rem;
        padding-bottom: 0;
        background: #fff;
        max-width: 620px;
      }
      .homeCreateContactBottom {
        padding: 2.5rem;
        padding-top: 1rem;
      }
      .homeCreateContactTopBar {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .homeCreateContactTopBarItem:last-child {
          display: flex;
          align-items: center;
          gap: 1rem;

          button {
            background: #0b57d0;
            padding: 0 20px;
            height: 38px;
            border: none;
            border-radius: 999px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }

      .homeCreateContactBlockImg {
        position: relative;
        margin-bottom: 2rem;
        border-radius: 999px;
        height: 150px;
        width: 150px;

        .homeCreateContactBlockImgItemImg {
          width: 100%;
          cursor: pointer;
        }
        .addButton {
          position: absolute;
          right: 0;
          bottom: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          background: #0b57d0;
          border-radius: 999px;
          border: solid #fff;
          color: #fff;
          cursor: pointer;
        }
      }

      .homeCreateContactAddLibelle {
      }

      .homeCreateContactForm {
      }
    }
  }

  .closeModal {
    display: none;
  }
}

.hamburgerLeft{
  // display: none;
  width: 20px;
  transition: all .5s;
}

.hamburgerRight{
  width: 100%;
}
